In [1]:
import pandas as pd
import numpy as np

Now, let us first demonstrate series in pandas!

In [8]:
s=pd.Series()
print(s)

Series([], dtype: float64)

In [12]:
s1=pd.Series([1,2,3.4,5])
print(s1)

0    1.0
1    2.0
2    3.4
3    5.0
dtype: float64

In [13]:
s2=pd.Series((1,2,3,4))
print(s2)

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
data=np.array([1,2,3,4])
s3=pd.Series(data)
print(s3)

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
data1=np.array([1,2,3,6,'hello'])
s4=pd.Series(data1)
print(s4)

0        1
1        2
2        3
3        6
4    hello
dtype: object

In [17]:
s5=pd.Series([5,6,7],index=[100,200,300])
print(s5)

100    5
200    6
300    7
dtype: int64

In [20]:
d=pd.Series({'a':1,'b':2,'c':3})
print(d)

a    1
b    2
c    3
dtype: int64

In [22]:
d1=pd.Series({'a':1,'b':2,'c':3,'d':'yo'},index=['b','d','e','a','c'])
print(d1)

b      2
d     yo
e    NaN
a      1
c      3
dtype: object

Now, let us demonstrate DataFrames in Pandas!

In [2]:
# let us create and empty dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
# let us use a list to intialize the dataframe
df1=pd.DataFrame([1,2,3,4,5])
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
df1=pd.DataFrame([1,2,3,4,'hello','monster'])
print(df1)

         0
0        1
1        2
2        3
3        4
4    hello
5  monster

In [5]:
data=[['Alex',10],['Winry',11],['Bob',17],['Cassie',13]]
df2=pd.DataFrame(data)
print(df2)

        0   1
0    Alex  10
1   Winry  11
2     Bob  17
3  Cassie  13

In [6]:
df2=pd.DataFrame(data,columns=['Name','Age'],dtype='float')
print(df2)

     Name   Age
0    Alex  10.0
1   Winry  11.0
2     Bob  17.0
3  Cassie  13.0

In [9]:
# let us use a dict to initialize a dataframe
data={'Name':['Jhumroo','Laila','Bhushan'],'Age':[10,15,26]}
df3=pd.DataFrame(data,index=['pehla','doosra','teesra'])
print(df3)

           Name  Age
pehla   Jhumroo   10
doosra    Laila   15
teesra  Bhushan   26

In [14]:
# Using list of dictionaries to create dataframe
data=[{'a':1,'b':23},{'a':24,'b':17,'c':81},{'d':69}]
df4=pd.DataFrame(data,index=['ek','do','teen'])
print(df4)

         a     b     c     d
ek     1.0  23.0   NaN   NaN
do    24.0  17.0  81.0   NaN
teen   NaN   NaN   NaN  69.0

In [17]:
#Using list of dictionaries and specifying columns!
data=[{'a':1,'b':23},{'a':24,'b':17,'c':81},{'d':69}]
df5=pd.DataFrame(data,index=['ek','do','teen'],columns=['d','b','a'])
print(df5)

         d     b     a
ek     NaN  23.0   1.0
do     NaN  17.0  24.0
teen  69.0   NaN   NaN

In [22]:
#Using dict of series to create a dataframe
data={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c',4])}
df6=pd.DataFrame(data)
print(df6)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
4  NaN    4

In [25]:
#But what if we specify index in the DataFrame method?
df6=pd.DataFrame(data,index=['ek','do','teen','char'])
print(df6)

      one  two
ek    NaN  NaN
do    NaN  NaN
teen  NaN  NaN
char  NaN  NaN

In [26]:
#So the indexes in the DataFrame method and Series method must coincide
df6=pd.DataFrame(data,index=['a','b','c',4])
print(df6)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
4  NaN    4

Column Selection, Deletion and Addition

In [27]:
#Column selection 
print(df6['one'])

a    1.0
b    2.0
c    3.0
4    NaN
Name: one, dtype: float64

In [32]:
#Column addition
df6['three']=pd.Series([5,6],index=['a','c'])
print(df6)

   one  two  three
a  1.0    1    5.0
b  2.0    2    NaN
c  3.0    3    6.0
4  NaN    4    NaN

In [34]:
df6['four']=df6['one']-df6['three']
print(df6)

   one  two  three  four
a  1.0    1    5.0  -4.0
b  2.0    2    NaN   NaN
c  3.0    3    6.0  -3.0
4  NaN    4    NaN   NaN

In [35]:
#Column deletion
del df6['three']
print(df6)

   one  two  four
a  1.0    1  -4.0
b  2.0    2   NaN
c  3.0    3  -3.0
4  NaN    4   NaN

In [39]:
df6['one']=pd.Series([1,2,3],index=['a','b','c'])
print(df6)

   two  four  one
a    1  -4.0  1.0
b    2   NaN  2.0
c    3  -3.0  3.0
4    4   NaN  NaN

In [40]:
df6.pop('two')
print(df6)

   four  one
a  -4.0  1.0
b   NaN  2.0
c  -3.0  3.0
4   NaN  NaN